@import "./../tokens/colors";
@import "./../tokens/spacings";
@import "./../tokens/typos";

.aspects {
  padding: $space_x3 $space_x2;
  position: relative;
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: 50px;
  width: 100%;
  height: 100%;
  background-image: url("../../static/PNG_1000/Recuadro-FONDO@2x.png");
  background-position: top;
  background-repeat: no-repeat;
  background-size: 100vh;
  &__tabs {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    width: 100%;
    text-align: right;
  }
  &__content {
    padding: $space_x4 $space_x2;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative;
    z-index: -2;
    margin: -40px;
    width: 100%;
    height: 100%;
    text-align: center;
    background: rgb(0, 6, 40);
    background: linear-gradient(
      180deg,
      rgba(0, 6, 40, 0.507) 0%,
      rgba(0, 33, 89, 500) 50%,
      rgba(0, 83, 147, 500) 100%
    );
    img {
      width: 50%;
      object-fit: cover;
    }
    h1 {
      padding: $space_x2 0;
      width: 90%;
      font-family: $Fuente2;
      line-height: auto !important;
      color: $color-claro;
      @include font-size($h2);
    }
    p {
      padding: $space_x3 0;
      margin: 0;
      width: 95%;
      line-height: 25px !important;
      color: $color-claro;
      @include font-size($p);
    }
  }
  @include media(custom-five) {
    padding: $space_x3 $space_x3;
    position: relative;
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 100%;
    background-image: url("../../static/PNG_1000/Recuadro-FONDO@2x.png");
    background-position: top;
    background-repeat: no-repeat;
    background-size: 100vh;
    &__tabs {
      display: flex;
      align-items: center;
      justify-content: space-between;
      flex-direction: row;
      width: 100%;
      text-align: right;
    }
    &__content {
      padding: $space_x4 $space_x2;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      position: relative;
      z-index: -2;
      margin: -40px;
      width: 100%;
      height: 100%;
      text-align: center;
      background: rgb(0, 6, 40);
      background: linear-gradient(
        180deg,
        rgba(0, 6, 40, 0.507) 0%,
        rgba(0, 33, 89, 500) 50%,
        rgba(0, 83, 147, 500) 100%
      );
      img {
        width: 50%;
        object-fit: cover;
      }
      h1 {
        padding: $space_x2 0;
        width: 80%;
        font-family: $Fuente2;
        line-height: auto !important;
        color: $color-claro;
        @include font-size($h2);
      }
      p {
        padding: $space_x3 0;
        margin: 0;
        width: 90%;
        line-height: 25px !important;
        color: $color-claro;
        @include font-size($p);
      }
    }
  }
  @include media(tablet) {
    padding: $space_x3 $space_x3;
    position: relative;
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 100%;
    background-image: url("../../static/PNG_1000/Recuadro-FONDO@2x.png");
    background-position: top;
    background-repeat: no-repeat;
    background-size: 100vh;
    &__tabs {
      display: flex;
      align-items: center;
      justify-content: space-between;
      flex-direction: row;
      width: 100%;
      text-align: right;
    }
    &__content {
      padding: $space_x4 $space_x2;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      position: relative;
      z-index: -2;
      margin: -40px;
      width: 100%;
      height: 100%;
      text-align: center;
      background: rgb(0, 6, 40);
      background: linear-gradient(
        180deg,
        rgba(0, 6, 40, 0.507) 0%,
        rgba(0, 33, 89, 500) 50%,
        rgba(0, 83, 147, 500) 100%
      );
      img {
        width: 40%;
        object-fit: cover;
      }
      h1 {
        padding: $space_x2 0;
        width: 80%;
        font-family: $Fuente2;
        line-height: auto !important;
        color: $color-claro;
        @include font-size($h1);
      }
      p {
        padding: $space_x3 0;
        margin: 0;
        width: 70%;
        line-height: 25px !important;
        color: $color-claro;
        @include font-size($p);
      }
    }
  }
  @include media(custom-one) {
    padding: $space_x3 $space_x2;
    position: relative;
    display: flex;
    align-items: center;
    flex-direction: row;
    width: 100%;
    height: 100%;
    background-image: url("../../static/PNG_1000/Recuadro-FONDO@2x.png");
    background-position: top;
    background-repeat: no-repeat;
    background-size: 100vmax;
    &__tabs {
      display: block;
      width: 300px;
      text-align: right;
    }
    &__content {
      padding: $space_x3;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      position: absolute;
      z-index: -99;
      top: 20px;
      left: 320px;
      width: 100%;
      height: 100%;
      min-height: 600px;
      max-width: 65%;
      text-align: center;
      background: rgb(0, 6, 40);
      background: linear-gradient(
        90deg,
        rgba(0, 6, 40, 1) 0%,
        rgba(0, 33, 89, 1) 50%,
        rgba(0, 83, 147, 1) 100%
      );
      img {
        width: 30%;
        object-fit: cover;
      }
      h1 {
        padding: $space_x2 0;
        width: 80%;
        font-family: $Fuente2;
        line-height: auto !important;
        color: $color-claro;
        @include font-size(50px);
      }
      p {
        padding: $space_x3 0;
        margin: 0;
        width: 75%;
        line-height: 25px !important;
        color: $color-claro;
        @include font-size($p);
      }
    }
  }
  @include media(desktop-m) {
    padding: $space_x3 $space_x2;
    position: relative;
    display: flex;
    align-items: center;
    width: 100%;
    height: 100vh;
    background-image: url("../../static/PNG_1000/Recuadro-FONDO@2x.png");
    background-position: top;
    background-repeat: no-repeat;
    background-size: 100vmax;
    &__tabs {
      display: block;
      width: 500px;
      text-align: right;
    }
    &__content {
      padding: $space_x3;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      position: absolute;
      z-index: -99;
      top: 40px;
      left: 510px;
      width: 100%;
      height: 100%;
      min-height: 700px;
      max-width: 65%;
      text-align: center;
      background: rgb(0, 6, 40);
      background: linear-gradient(
        90deg,
        rgba(0, 6, 40, 1) 0%,
        rgba(0, 33, 89, 1) 50%,
        rgba(0, 83, 147, 1) 100%
      );
      img {
        width: 25%;
        object-fit: cover;
      }
      h1 {
        padding: $space_x2 0;
        width: 80%;
        font-family: $Fuente2;
        line-height: auto !important;
        color: $color-claro;
        @include font-size(80px);
      }
      p {
        padding: $space_x3 0;
        margin: 0;
        width: 70%;
        line-height: 35px !important;
        color: $color-claro;
        @include font-size($h3);
      }
    }
  }
}

.tabs {
  display: flex;
  align-items: center;
  &__content {
    display: flex;
    align-items: center;
    flex-direction: row;
    span {
      display: none;
    }
    p {
      display: none;
    }
    img {
      width: 50px;
      object-fit: cover;
      cursor: pointer;
      opacity: 0.6;
    }
  }
  @include media(custom-five) {
    display: flex;
    align-items: center;
    &__content {
      display: flex;
      align-items: center;
      flex-direction: row;
      span {
        display: none;
      }
      p {
        display: none;
      }
      img {
        width: 70px;
        object-fit: cover;
        cursor: pointer;
        opacity: 0.6;
      }
    }
  }
  @include media(tablet) {
    display: flex;
    align-items: center;
    &__content {
      display: flex;
      align-items: center;
      flex-direction: row;
      span {
        display: none;
      }
      p {
        display: none;
      }
      img {
        width: 90px;
        object-fit: cover;
        cursor: pointer;
        opacity: 0.6;
      }
    }
  }
  @include media(custom-one) {
    display: block;
    &__content {
      display: flex;
      align-items: center;
      span {
        display: inline;
        color: $color-primario;
      }
      p {
        padding: 0 $space_x2 0 0;
        display: inline;
        width: 100%;
        font-family: $Fuente1;
        font-weight: $bolder;
        text-align: right;
        text-transform: uppercase;
        line-height: normal !important;
        color: $color-claro;
        @include font-size($p);
      }
      img {
        width: 80px;
        object-fit: cover;
        cursor: pointer;
        opacity: 0.6;
      }
    }
    &:hover {
      text-decoration: none;
    }
  }
  @include media(desktop-m) {
    display: block;
    &__content {
      display: flex;
      align-items: center;
      span {
        display: inline;
        color: $color-primario;
      }
      p {
        padding: 0 $space_x2;
        display: inline;
        width: 100%;
        font-family: $Fuente1;
        font-weight: $bolder;
        text-align: right;
        text-transform: uppercase;
        line-height: normal !important;
        color: $color-claro;
        @include font-size($h3);
      }
      img {
        width: 100px;
        object-fit: cover;
        cursor: pointer;
        opacity: 0.6;
      }
    }
    &:hover {
      text-decoration: none;
    }
  }
}

.active {
  img {
    opacity: 1;
  }
  @include media(custom-one) {
    img {
      object-fit: cover;
      opacity: 1;
    }
  }
}
