@import "./../tokens/colors";
@import "./../tokens/spacings";
@import "./../tokens/typos";

.footer {
  padding: 50px $space_x3;
  margin-top: $space_x3;
  p {
    margin: 0 auto;
    width: 100%;
    line-height: 20px !important;
    color: $color-variante;
    @include font-size($p);
  }
  @include media(custom-one) {
    padding: $space_x4;
    p {
      margin: 0 auto;
      width: 90%;
      color: $color-variante;
    }
  }
}
