//  .██████╗.██████╗.██╗......██████╗.██████╗.███████╗
//  ██╔════╝██╔═══██╗██║.....██╔═══██╗██╔══██╗██╔════╝
//  ██║.....██║...██║██║.....██║...██║██████╔╝███████╗
//  ██║.....██║...██║██║.....██║...██║██╔══██╗╚════██║
//  ╚██████╗╚██████╔╝███████╗╚██████╔╝██║..██║███████║
//  .╚═════╝.╚═════╝.╚══════╝.╚═════╝.╚═╝..╚═╝╚══════╝
//  ..................................................

//Brand colors

$color-primario: #03588C;
$color-secundario: #8D9CF2;

//Action colors

$color-variante: #D9D9D9;
$color-variante-dos:  #737373 ;

//Boolean colors
$color-negative: #f44336;
$color-positive: #04bf42;

//Background colors

$color-bg-claro: #f2f2f2;
$color-bg-oscuro: #000108;

//Basic colors

$color-claro: #F2F2F2;
$color-oscuro: #262626;
